<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SIDAR-NEW</name>
    <description>Sistem Infromasi Daily Activity Report</description>
    <author email="suryoatm@gmail.com" href="https://cordova.apache.org">
        Suryo Atmojo
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
